$header_color: darkblue;
$pic_size: 35%;

@mixin h1_styling($color, $font-family, $background-color, $margin-top) {
    color: $color;
    font-family: $font-family;
    background-color: $background-color;
    margin-top: $margin-top;
}

body {
    min-width:1024px;
}

#titleBar {
    // background-color: $header_color;
    // margin-top: 0;
    // color: white;
    // font-family: Verdana, Geneva, Tahoma, sans-serif;
    @include h1_styling(white, Verdana, $header_color, 0);
}

#statusBar {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
}

h1 {
    color: black;
}

.diceblock {
    width: 400px;
    height: 600px;
    border: 1px solid black;
    margin-right: 10px;
    float: left;
}

#statusBar {
    display:block;
}

.dice {
    width: $pic_size;
    height: $pic_size;
    object-fit: scale-down;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: auto;
    display: block;
}

#round1 {
    display: inline-block;
}